@charset "UTF-8";
/* палитра
основной цвет текста #757575;
заголовки #212121;
белый #FFFFFF;
акцент #2196F3;
 */
/* основной цвет фона FFFFFF
вторичный цвет фона серый #F5F4FA
темный #2F303A */
/* css var */
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --acсent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --contact-text-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #2196f3;
  --acсent-background-color: #188ce8;
  --secondary-background-color: #f5f4fa;
  --section-background-color: #2f303a;
  --border-color: #eeeeee;
}

.section__title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--white-text-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  color: var(--title-text-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  border-radius: 4px;
  color: var(--title-text-color);
  font-family: inherit;
  cursor: pointer;
  border: none;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

/* переопределяет и/или добавляет стили для button */
.button.primary {
  width: 200px;
  height: 50px;
  padding: 10px 22px;
  color: var(--white-text-color);
  background-color: var(--primary-background-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover, .button.primary:focus {
  background-color: var(--acсent-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.secondary {
  padding: 6px 22px;
  background-color: var(--secondary-background-color);
  line-height: 1.63;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary:hover, .button.secondary:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-text-color);
  background-color: var(--primary-background-color);
}

.logo-link {
  color: var(--acсent-text-color);
  font-family: Raleway, arial;
  font-size: 26px;
  line-height: 1.19;
}

.page-header__logo-text {
  color: black;
}

.page-footer__logo-link {
  display: block;
  margin-bottom: 20px;
}

.page-footer__logo-text {
  color: #ffffff;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  /* скрывает backdrop */
  pointer-events: none;
  /* будет ли влиять на элемент событие указателя (мышки) - не будет. Т.е.екликаем сквозь бэкдроп*/
}

.backdrop__box {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 320px;
  min-height: 609px;
  background-color: var(--white-text-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transorm 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .backdrop__box {
  /* когда бекдроп спрятан, мы чтото применяем к .backdrop__box */
  transform: translate(-50%, -50%) scale(0.9);
}

@media screen and (min-width: 450px) {
  .backdrop__box {
    min-width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 676px) {
  .backdrop__box {
    max-width: 450px;
    max-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop__box {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-8px, 8px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--white-text-color);
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__btn-close-icon {
  align-items: baseline;
  width: 18px;
  height: 18px;
}

.modal-form__box-text {
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}

.modal-form {
  margin-left: auto;
  margin-right: auto;
}

.modal-form__form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  /* outline: none; */
}

.modal-form__form-field-forth {
  margin-bottom: 0;
}

.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__box-input {
  position: relative;
}

.modal-form__input {
  width: 370px;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form__input:focus {
  border: 1px solid #2196f3;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .modal-form__input {
    width: 448px;
    height: 40px;
    padding-left: 30px;
  }
}

.modal-form__icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus ~ .modal-form__icon {
  fill: var(--primary-background-color);
  /* когда  .modal-form__input в ховере, то все СОСЕДИ внизу него внутри div 
(вниз на одном уровне) меняют цвет*/
}

.modal-form__textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.modal-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__field-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.modal-form__link-contract {
  text-decoration-line: underline;
  color: var(--acсent-text-color);
}

.modal-form__checkbox {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
}

.modal-form__label-checkbox {
  display: block;
}

.modal-form__icon-checkbox {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 10px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-form__checkbox:checked + .modal-form__icon-checkbox {
  background-color: var(--acсent-background-color);
  border-color: var(--acсent-background-color);
  background-image: url(../images/check-icon.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-form__field-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header {
  top: 0;
  left: 0;
  background-color: var(--white-text-color);
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:focus, .site-nav__link:hover {
  color: var(--acсent-text-color);
}

.site-nav__link--current {
  color: var(--acсent-text-color);
}

.contact-nav {
  display: none;
}

@media (min-width: 768px) {
  .contact-nav {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1199px) {
  .contact-nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
}

@media (max-width: 1199px) {
  .contact-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contact-nav__mail {
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .contact-nav__mail {
    width: 16px;
    height: 12px;
  }
}

.contact-nav__tel {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .contact-nav__tel {
    width: 10px;
    height: 16px;
  }
}

.contact-nav__link {
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  /* transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  */
  /* Для всех эффектов ховера и фокуса (цвет, фон, тень) сделаны переходы. Время - 250ms */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav__link:hover, .contact-nav__link:focus {
  color: var(--acсent-text-color);
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .contact-nav__link {
    font-size: 12px;
    line-height: 1.17;
  }
}

.contact-nav__item {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .contact-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* если цвет иконки  currentColor, как у родителя (как у ссылки), то цвет при ховере тоже наследуется*/
.site-nav__link--current {
  position: relative;
}

@media screen and (min-width: 768px) {
  .site-nav__link--current::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-background-color);
    border-radius: 2px;
  }
}

.burger-btn {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  line-height: 0;
}

@media (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-btn__icon {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  line-height: 0;
}

.mobile-menu__close-btn-icon {
  width: 40px;
  height: 40px;
}

.mobile-site-nav__link {
  font-size: 40px;
  line-height: 1.17;
}

@media screen and (max-width: 767px) {
  .mobile-site-nav__link {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.mobile-contact-nav {
  margin-bottom: 64px;
}

.mobile-contact-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact-nav__link-tel {
  color: var(--acсent-text-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-contact-nav__link-mail {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-social {
  display: flex;
  width: calc((100% - 3 * 20px - 2 * 40px) / 4);
}

@media screen and (max-width: 479px) {
  .mobile-social {
    flex-wrap: wrap;
  }
}

.mobile-social__link {
  color: var(--acсent-text-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__item:not(:first-child) {
  padding-left: 10px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop.jpg);
    max-width: 1600px;
    height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop@2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .feature {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.feature__item {
  width: calc(100% - 30px);
  margin-bottom: 30px;
}

.feature__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .feature__item {
    width: calc((100% - 60px) / 2);
  }
  .feature__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .feature__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
  .feature__item:not(:last-child) {
    margin-right: 30px;
  }
}

.feature__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.feature__icon {
  width: 70px;
  height: 70px;
}

/* .feature-item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
  background-color: var(--secondary-background-color);
}
.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
} */
.feature__list-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .feature__list-title {
    text-align: left;
  }
}

.section-work {
  padding-top: 0;
}

.work {
  display: flex;
  /* justify-content: space-between; */
}

.work__item {
  position: relative;
  margin-right: 30px;
}

.work__item:last-child {
  margin-right: 0;
}

.work__box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

/* или вариант центрирования
top: 50%;  - это % от РОДИТЕЛЯ
left: 50%;  - это % от РОДИТЕЛЯ
transform: translate (-50%, -50%) – это % СВОЕЙ ширины (ширины РЕБЕНКА)  */
.work__text {
  color: var(--white-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .section-work {
    display: none;
  }
}

.section-team {
  background-color: var(--secondary-background-color);
}

.team {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .team {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.team__item {
  margin-bottom: 30px;
}

.team__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .team__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team__item:nth-child(2n) {
    margin-right: 0;
  }
  .team__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    margin-bottom: 0;
  }
  .team__item:nth-child(2n) {
    margin-right: 30px;
  }
  .team__item:last-child {
    margin-right: 0;
  }
}

/* ---------div под фоткой---------- */
.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__list-title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .social {
    flex-wrap: nowrap;
  }
}

.social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--primary-background-color);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}

/* -----------------------Постоянные клиенты ----------------------*/
.client {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.client__item {
  width: calc(100% - 30px);
  height: 92px;
  margin: 15px;
}

@media screen and (min-width: 480px) {
  .client__item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 5%;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border: 1px solid var(--acсent-text-color);
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: var(--acсent-text-color);
}

.page-footer {
  background-color: var(--section-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    align-items: baseline;
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__container--flex {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__container-logo {
    margin-bottom: 0;
    text-align: left;
  }
}

.page-footer__adress {
  font-style: normal;
}

.page-footer__adress-item {
  margin-bottom: 8px;
}

.page-footer__adress-item:last-child {
  margin-bottom: 0;
}

.page-footer__adress-link {
  color: var(--white-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__adress-link:hover, .page-footer__adress-link:focus {
  color: var(--acсent-text-color);
}

.page-footer__mail-tel {
  color: var(--contact-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__mail-tel:hover, .page-footer__mail-tel:focus {
  color: var(--acсent-text-color);
}

.page-footer__container-icon {
  margin-top: 60px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .page-footer__container-icon {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__container-icon {
    margin-left: 70px;
    text-align: left;
  }
}

.page-footer__container-icon--margin {
  margin-top: 60px;
}

.page-footer__icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.page-footer__icon-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.page-footer__icon-item:last-child {
  margin-right: 0;
}

.page-footer__icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__icon-link:hover,
.page-footer__icon-link:focus {
  background-color: var(--acсent-background-color);
}

.page-footer__icon {
  width: 20px;
  height: 20px;
  align-items: baseline;
  fill: #ffffff;
}

.page-footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .page-footer__form {
    flex-direction: row;
  }
}

.page-footer__input {
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__input:focus {
  color: #ffffff;
  outline: none;
}

.page-footer__subscribe-btn {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.page-footer__subscribe-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__item:nth-child(n + 4) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .filter__item {
    margin-bottom: 0;
  }
}

.examples {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .examples {
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.examples__item {
  width: 370px;
  margin-bottom: 30px;
}

.examples__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .examples__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .examples__item {
    width: calc((100% - 90px) / 3);
  }
}

.examples__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__link:hover, .examples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples__overlay-box {
  position: relative;
  overflow: hidden;
  /* если элемент (у нас это оверлей+текст оверлея) переполняет кнопку, то его спрятать */
}

.examples__overlay-box::before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  /* opacity: 0;   прячем оверлей - он прозрачный, вместо него overflow: hidden */
  transform: translateY(294px);
  /* оверлей сьезжает ПОД картинку */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* при ховере на ссылку - возми overlay-box::before и сделай его непрозрачным opacity: 1 */
}

.examples__link:hover .examples__overlay-box::before,
.examples__link:focus .examples__overlay-box::before {
  transform: translateY(0);
  /* оверлей ПОСРЕДИ картинки */
}

.examples__overlay-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
  /* opacity: 0;   прячем текст оверлей - он прозрачный */
  transform: translateY(294px);
  /* текст оверлей сьезжает ПОД картинку */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__link:hover .examples__overlay-text,
.examples__link:focus .examples__overlay-text {
  transform: translateY(0);
  /* оверлей ПОСРЕДИ картинки */
}

.examples__box {
  flex-grow: 1;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding: 20px 24px;
}

.examples__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples__text {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.87;
}
/*# sourceMappingURL=main.css.map */