.page-footer {
  background-color: var(--section-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.page-footer__container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    align-items: baseline;
    flex-direction: row;
  }
}

//=========контейнер флекс
.page-footer__container--flex {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    // width: 100%;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

// =========контейнер лого+адресс
.page-footer__container-logo {
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 70px;
  }
}
.page-footer__adress {
  font-style: normal;
}
.page-footer__adress-item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}
.page-footer__logo-link {
}
.page-footer__adress-link {
  color: var(--white-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--acсent-text-color);
  }
}
.page-footer__mail-tel {
  color: var(--contact-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--acсent-text-color);
  }
}

// контейнер с соц.иконками ПРИСОЕДИНЯЙТЕСЬ

.page-footer__container-icon {
  margin-top: 60px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
  
    text-align: left;
  }
}
.page-footer__container-icon--margin {
  margin-top: 60px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 93px;
  
    text-align: left;
  }
}
.page-footer__icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.page-footer__icon-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.page-footer__icon-item:last-child {
  margin-right: 0;
}
.page-footer__icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__icon-link:hover,
.page-footer__icon-link:focus {
  background-color: var(--acсent-background-color);
}
.page-footer__icon {
  width: 20px;
  height: 20px;
  align-items: baseline;
  fill: #ffffff;
}

// контейнер с формой ПОДПИШИТЕСЬ
.page-footer__subscribe-container {
//  width: 100%;
}
.page-footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.page-footer__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  margin-top: 20px;
  margin-bottom: 20px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    color: #ffffff;
    outline: none;
  }

  // @media screen and (min-width: 768px) {
  //   width: 450px;
  // }

  // @media screen and (min-width: 1200px) {
  //   width: 358px;
  // }
}

.page-footer__subscribe-btn {
  display: flex;
  align-items: center;
  margin-left: 12px;
}
.page-footer__subscribe-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
