.page-header {
  // position: fixed;
  // z-index: 1;
  // width: 100%;
  top: 0;
  left: 0;
  background-color: var(--white-text-color);
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--acсent-text-color);
  }
}
.site-nav__link--current {
  color: var(--acсent-text-color);
}

.contact-nav {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 1199px) {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
}

.contact-nav__item:not(:last-child) {
  @media (max-width: 1199px) {
    margin-bottom: 10px;
  }
}
.contact-nav__mail {
  width: 14px;
  height: 10px;

  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}
.contact-nav__tel {
  width: 10px;
  height: 14px;

  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}

.contact-nav__link {
  display: flex;
  align-items: center;

  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  /* transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  */
  /* Для всех эффектов ховера и фокуса (цвет, фон, тень) сделаны переходы. Время - 250ms */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--acсent-text-color);
  }

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.contact-nav__item {
  display: flex;
  align-items: center;

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.contact-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
/* если цвет иконки  currentColor, как у родителя (как у ссылки), то цвет при ховере тоже наследуется*/

//===============подчеркивание полоска текущей страницы
.site-nav__link--current {
  position: relative;

  @media screen and (min-width: 768px) {
    &::after {
      position: absolute;
      display: inline-block;
      content: '';
      width: 100%;
      height: 4px;
      bottom: -1px;
      left: 0;
      background-color: var(--primary-background-color);
      border-radius: 2px;
    }
  }
}

//==============Mobile menu, кнопка-бургер
.burger-btn {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  line-height: 0;

  @media (min-width: 768px) {
    display: none;
  }
}
.burger-btn__icon {
  width: 40px;
  height: 40px;
}
//================модалка мобильного меню
.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  z-index: 100;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  background-color: #ffff;

  //======скрывает модалку
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
//=========показывает модалку
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  line-height: 0;
}
.mobile-menu__close-btn-icon {
  width: 40px;
  height: 40px;
  fill: #212121 transition fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: var(--acсent-text-color);
  }
}

//===========мобильная навигация сайта и контактов
.mobile-site-nav__link {
  font-size: 40px;
  line-height: 1.17;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.mobile-contact-nav {
  margin-bottom: 64px;
}
.mobile-contact-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contact-nav__link-tel {
  color: var(--acсent-text-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-contact-nav__link-mail {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-social {
  display: flex;
  width: calc((100% - 3 * 20px - 2 * 40px) / 4);
  // justify-content: space-between;
  // flex-wrap: wrap;
  
  // @media screen and (max-width: 479px) {
  //   flex-wrap: wrap;
  //   width: calc((100% - 2 * 20px) / 2);
  // }
  @media screen and (max-width: 380px) {
    flex-wrap: wrap;
  }
}
.mobile-social__link {
  color: var(--acсent-text-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
.mobile-social__item {
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &:not(:first-child) {
    padding-left: 10px;

    @media screen and (max-width: 380px) {
      padding-left: 0;
    }
  }
}
