.page-header {
  position: fixed;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--white-text-color);
  border-bottom: 1px solid #ececec;
  z-index: 1;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--acсent-text-color);
  }
}
.site-nav__link--current {
  color: var(--acсent-text-color);
}

.contact-nav {
  display: flex;
  margin-left: auto;
}
.contact-nav__link {
  display: flex;
  align-items: center;

  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  /* transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  */
  /* Для всех эффектов ховера и фокуса (цвет, фон, тень) сделаны переходы. Время - 250ms */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--acсent-text-color);
  }
}

.contact-nav__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
/* если цвет иконки  currentColor, как у родителя (как у ссылки), то цвет при ховере тоже наследуется*/

//===============подчеркивание полоска текущей страницы
.site-nav__link--current {
  position: relative;

  &::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-background-color);
    border-radius: 2px;
  }
}
//======================================адаптивка
.site-nav {
  @media (max-width: 767px) {
    display: none;
  }
}
.contact-nav {
  @media (max-width: 1199px) {
    display: block;
    margin-left: 84px;
  }
  @media (max-width: 767px) {
    display: none;
  }
}
.contact-nav__item:not(:last-child) {
  @media (max-width: 1199px) {
    margin-bottom: 10px;
  }
}

//==============Mobile menu, кнопка-бургер
.burger-btn {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  line-height: 0;

  @media (min-width: 768px) {
    display: none;
  }
}
.burger-btn__icon {
  width: 40px;
  height: 40px;
}
//================модалка мобильного меню
.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  z-index: 100;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  background-color: #ffff;

  //======скрывает модалку
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
//=========показывает модалку
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  line-height: 0;
}
.mobile-menu__close-btn-icon {
  width: 40px;
  height: 40px;
  // fill: #212121
  // transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // &:hover{
  //   fill: var(--acсent-text-color);
  // }
}

//===========мобильная навигация сайта и контактов
.mobile-site-nav__link {
  font-size: 40px;
  line-height: 1.17;
}
.mobile-contact-nav {
  margin-bottom: 64px;
}
.mobile-contact-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contact-nav__link-tel {
  color: var(--acсent-text-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-contact-nav__link-mail {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mobile-social__link {
  color: var(--acсent-text-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
