.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.filter__item {
  margin-right: 8px;
  margin-bottom: 15px;

  &:last-child {
    margin-right: 0;
  }
  &:nth-child(n + 4) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

//================ сетка
.examples {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.examples__item {
  width: 370px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 3);
  }
}
.examples__link {
  // display: block;
display: flex;
flex-direction: column;
height: 100%;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

//===========оверлей
.examples__overlay-box {
  position: relative;
  overflow: hidden; /* если элемент (у нас это оверлей+текст оверлея) переполняет кнопку, то его спрятать */

  &::before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    /* opacity: 0;   прячем оверлей - он прозрачный, вместо него overflow: hidden */
    transform: translateY(294px); /* оверлей сьезжает ПОД картинку */

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .examples__link:hover &,
    .examples__link:focus & {
      transform: translateY(0); /* оверлей ПОСРЕДИ картинки */
    }
    /* при ховере на ссылку - возми overlay-box::before и сделай его непрозрачным opacity: 1 */
  }
}
.examples__overlay-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
  /* opacity: 0;   прячем текст оверлей - он прозрачный */
  transform: translateY(294px); /* текст оверлей сьезжает ПОД картинку */

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .examples__link:hover &,
  .examples__link:focus & {
    transform: translateY(0); /* оверлей ПОСРЕДИ картинки */
  }
}

// ===========текст под картинкой
.examples__box {
  flex-grow: 1;
  //=====чтобы контейнер первой карточки был размера как у второй (на три ряда), для планшета
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding: 20px 24px;
}

.examples__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples__text {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.87;
}
