.section-work {
  padding-top: 0;
}
.work {
  display: flex;
  /* justify-content: space-between; */
}
.work__item {
  position: relative;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

//=====контейнер с текстом на картинке
.work__box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
/* или вариант центрирования
top: 50%;  - это % от РОДИТЕЛЯ
left: 50%;  - это % от РОДИТЕЛЯ
transform: translate (-50%, -50%) – это % СВОЕЙ ширины (ширины РЕБЕНКА)  */

.work__text {
  color: var(--white-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
