.backdrop__box {
  //======== это модалка показана
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  // при экране 320рх модалка на весь экран
  width: 100vw;
  height: 100vh;

  background-color: var(--white-text-color);

  transform: translate(-50%, -50%) scale(1);
  transition: transorm 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // z-index: 9;

  .backdrop.is-hidden & {
    /* когда бекдроп спрятан, мы чтото применяем к .backdrop__box */
    transform: translate(-50%, -50%) scale(0.9);
  }
  @media screen and (min-width: 450px) {
    width: 0;
    height: 0;
    min-width: 450px;
    min-height: 609px;
    top: calc(50% + 50px);
  }
  @media screen and (min-width: 676px) {
    max-width: 450px;
    max-height: 609px;
    top: calc(50% + 145px);
  }
  @media screen and (min-width: 1200px) {
    min-width: 528px;
    height: 581px;
  }
}

//===============кнопка закрытия модального окна
.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-8px, 8px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;

  background-color: var(--white-text-color);
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal__btn-close-icon {
  align-items: baseline;
  width: 18px;
  height: 18px;
}
